<?xml version="1.0" encoding="utf-8"?>
<plugins>
  <item>
    <name>Plex Media Server</name>
    <category>Plex Media Server</category>
    <description>Plex Media Server</description>
    <fwVersion>4.0.0</fwVersion>
    <version>{{ plex_version }}</version>
    <internalName>PlexMediaServer</internalName>
    <platform>
      <platformID>TS-NASX86</platformID>
      <location>{{ x86_64_url }}</location>
    </platform>
    <platform>
      <platformID>TS-NASARM_64</platformID>
      <location>{{ aarch64_url }}</location>
    </platform>
    <platform>
      <platformID>TS-X16</platformID>
      <location>{{ aarch64_url }}</location>
    </platform>
    <platform>
      <platformID>TS-X28A</platformID>
      <location>{{ aarch64_url }}</location>
    </platform>
    <platform>
      <platformID>TS-X32</platformID>
      <location>{{ aarch64_url }}</location>
    </platform>
    <platform>
      <platformID>TS-X32U</platformID>
      <location>{{ aarch64_url }}</location>
    </platform>
    <platform>
      <platformID>TS-X33</platformID>
      <location>{{ aarch64_url }}</location>
    </platform>
    <platform>
      <platformID>TS-X35</platformID>
      <location>{{ aarch64_url }}</location>
    </platform>
    <platform>
      <platformID>TS-X35A</platformID>
      <location>{{ aarch64_url }}</location>
    </platform>
    <platform>
      <platformID>TS-X35EU</platformID>
      <location>{{ aarch64_url }}</location>
    </platform>
    <platform>
      <platformID>TS-XA28A</platformID>
      <location>{{ aarch64_url }}</location>
    </platform>
    <icon80>https://raw.githubusercontent.com/jsaulalonso/QPlex/main/icons/QPlex.gif</icon80>
    <icon100>https://raw.githubusercontent.com/jsaulalonso/QPlex/main/icons/QPlex_80.gif</icon100>
  </item>
</plugins>
